%p Notice for Last date for submission of indent is #{@time&.strftime("#{@time&.day&.ordinalize} %B %Y")}. The PPP Information Management System will not allow submitting indent beyond the above mentioned date.
