.row
  .col-sm-9.gap-left-mn-m8
    %h1.blue-color.font-weight-400 National Plant Protection Center
  .col-sm-3.gap-right-m5
    = document_image_tag 'logo.png', class: 'img-responsive logo pull-right'
.clearfix
