!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Layog
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Alegreya+Sans'}
    :css
      body {
        font-family: 'Alegreya Sans', sans-serif, serif !important;
        font-size: 16px !important;
      }
      @media only screen and (max-width: 600px) {
        .main {
          width: 320px !important;
        }
        .top-image {
          width: 100% !important;
        }
        .inside-footer {
          width: 320px !important;
        }
        table[class="contenttable"] {
          width: 320px !important;
          text-align: left !important;
        }
        td[class="force-col"] {
          display: block !important;
        }
        td[class="rm-col"] {
          display: none !important;
        }
        .mt {
          margin-top: 15px !important;
        }
        *[class].width300 {
          width: 255px !important;
        }
        *[class].block {
          display: block !important;
        }
        *[class].blockcol {
          display: none !important;
        }
        .emailButton {
          width: 100% !important;
        }
        .emailButton a {
          display: block !important;
          font-size: 18px !important;
        }
      }
  %body{alink: "#00a5b5", link: "#00a5b5", vlink: "#00a5b5"}
    %table.main.contenttable{align: "center", style: "font-weight: normal;border-collapse: collapse;border: 0;margin-left: auto;margin-right: auto;padding: 0;color: #555559;background-color: white;font-size: 16px;line-height: 26px;width: 600px;"}
      %tr
        %td.border{style: "border-collapse: collapse;border: 1px solid #eeeff0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-size: 16px;line-height: 26px;"}
          %table{style: "font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;"}
            %tr
              %td.image-section{colspan: "4", style: "border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-size: 16px;line-height: 26px;background-color: #fff;border-bottom: 4px solid #00a5b5", valign: "top"}
                %a{href: "https://dcpl.bt"}
                  %img.top-image{alt: "Layog", src: "https://gitlab.dcpl.bt/uploads/-/system/appearance/logo/1/logo.png", style: "line-height: 1;width: 85px;"}/
            %tr
              %td.side.title{style: "border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-size: 16px;line-height: 26px;vertical-align: top;background-color: white;border-top: none;", valign: "top"}
                %table{style: "font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;"}
                  %tr
                    %td.text{style: "border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;font-size: 16px;line-height: 26px;"}
                      #main_text.mktEditable
                        = yield
            %tr{bgcolor: "#fff", style: "border-top: 4px solid #00a5b5;"}
              %td.footer{style: "border-collapse: collapse;border: 0;margin: 0;padding: 0;-webkit-text-size-adjust: none;color: #555559;line-height: 26px;background: #fff;text-align: center;", valign: "top"}
                %table{style: "font-weight: normal;border-collapse: collapse;border: 0;margin: 0;padding: 0;"}
                  %tr
                    %td.inside-footer{align: "center", style: "border-collapse: collapse;border: 0;margin: 0;padding: 20px;-webkit-text-size-adjust: none;color: #555559;font-size: 12px;line-height: 16px;vertical-align: middle;text-align: center;width: 580px;", valign: "middle"}
                      #address.mktEditable
                        %b Dragon Coders Private Limited
                        %br/
                        5th floor, Jafa's commercial building
                        %br/
                        Thimphu, Bhutan
                        %br/
                        %a{href: "#", style: "color: #00a5b5;"} unsubscribe